*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(
135deg,
#06b6d4,
#3b82f6,
#9333ea
);


}



.container{

width:100%;

display:flex;

justify-content:center;

}



.card{


width:430px;

padding:40px;

background:
rgba(255,255,255,.18);


backdrop-filter:blur(20px);


border-radius:25px;


box-shadow:
0 20px 50px rgba(0,0,0,.3);


color:white;

text-align:center;

}



input,
select,
textarea{


width:100%;

padding:13px;

margin-top:15px;


border:none;

border-radius:12px;

font-size:15px;

outline:none;

}



textarea{

height:120px;

resize:none;

}



.rating{

display:flex;

flex-direction:row-reverse;

justify-content:center;

margin:20px;

}



.rating input{

display:none;

}


.rating label{

font-size:40px;

color:#ddd;

cursor:pointer;

}



.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label{

color:#ffd700;

}



button{


margin-top:20px;

width:100%;

padding:15px;


border:none;

border-radius:30px;


font-size:16px;

font-weight:bold;


background:white;

color:#3b82f6;

cursor:pointer;


}